# Ejemplo 02
### Dr. Antonio Arista Jalife.
En este ejemplo crearemos un sistema de regresión polinomial: Utilizaremos los grados de un polinomio para curvear la línea (o el plano) y evaluar que tal mejora una predicción

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [2]:
boston_dataset = load_boston()
bostonDataFrame = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)
bostonDataFrame['MEDV'] = boston_dataset.target
X = bostonDataFrame[['LSTAT', 'RM']]
Y = bostonDataFrame['MEDV']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.4, random_state=5)

### Ejemplo lineal:
Primero probaremos con predicciones lineales

In [5]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)
y_train_predict = lin_model.predict(X_train)
MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = lin_model.predict(X_test)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =28.139615508258466
Pruebas: MSE =34.28359366137776

   diferencia  prediccion  valor_real
0   -0.047015   37.647015        37.6
1   -1.132609   29.032609        27.9
2   -2.844085   25.444085        22.6
3   11.925108    1.874892        13.8
4    1.493190   33.706810        35.2
5    1.553864    8.846136        10.4
6   -6.463831   30.363831        23.9
7    1.422436   27.577564        29.0
8   -3.471478   26.271478        22.8
9    0.924572   22.275428        23.2

### Ejemplo de polinomio de grado 2
Ahora probaremos con un polinomio de grado 2

In [6]:
poly_model = LinearRegression()
poly = PolynomialFeatures(degree=2)

Xpolytrain = poly.fit_transform(X_train)
Xpolytest = poly.fit_transform(X_test)

poly_model.fit(Xpolytrain, Y_train)
y_train_predict = poly_model.predict(Xpolytrain)

MSE = mean_squared_error(Y_train,y_train_predict)
print("Entrenamiento: MSE ="+str(MSE))

y_test_predict = poly_model.predict(Xpolytest)
MSE = (mean_squared_error(Y_test, y_test_predict))
print("Pruebas: MSE ="+str(MSE))

df_predicciones = pd.DataFrame({'valor_real':Y_test, 'prediccion':y_test_predict, 'diferencia':Y_test-y_test_predict})
df_predicciones = df_predicciones.reset_index(drop = True)
df_predicciones.head(10)

Entrenamiento: MSE =19.581126388644588
Pruebas: MSE =25.183624243164633

   diferencia  prediccion  valor_real
0   -6.404561   44.004561        37.6
1   -1.535158   29.435158        27.9
2   -2.091098   24.691098        22.6
3    2.296809   11.503191        13.8
4   -0.747424   35.947424        35.2
5   -2.138233   12.538233        10.4
6   -7.485347   31.385347        23.9
7    1.727325   27.272675        29.0
8   -2.468163   25.268163        22.8
9    2.888912   20.311088        23.2